# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.local

# Generated Prisma client
src/generated

# Logs
*.log
npm-debug.log*

# Tests
coverage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea